---
import Layout from '../layouts/Layout.astro';
import EmailForm from '../components/EmailForm';
import CountdownTimer from '../components/CountdownTimer.astro';
import { Icon } from 'astro-icon';
import Logo from '../components/Logo';
---

<Layout title='Programa Bota Fé'>
	<main
		role='main'
		class='bg-cool-grey-900 bg-[url("src/images/hero-background.webp")] bg-center bg-cover h-screen flex flex-col justify-between font-body p-2'
	>
		<header role='banner' class='flex flex-col items-center'>
			<Logo />
			<h1
				class='font-["Passion_One"] text-5xl mt-12 uppercase text-center drop-shadow-xl text-gray-50'
				style={{
					fontSize:
						'clamp(3rem, 2.428571428571429rem + 2.857142857142857vw, 5rem)',
				}}
			>
				Estamos chegando!
			</h1>
			<p class='text-xl sm:text-2xl text-center max-w-prose text-cool-grey-100'>
				O programa que vai <span class='font-bold uppercase text-pink-vivid-400'
					>mudar</span
				> sua vida.
			</p>
		</header>
		<CountdownTimer />
		<EmailForm client:load />
		<a
			aria-label='Instagram link'
			href='https://www.instagram.com'
			class='mx-auto w-6 text-cool-grey-50 hover:text-pink-vivid-400'
		>
			<Icon name='mdi:instagram' /></a
		>
	</main>
</Layout>
