---
import Layout from '../layouts/Layout.astro';
import logo from '../images/logo-bota-fe.png';
import EmailForm from '../components/EmailForm';
---

<Layout title='Programa Bota Fé'>
	<main>
		<div class='main-content'>
			<img class='logo' src={logo} alt='Logo Bota Fé' />
			<h1 class='cta-title'>Estamos chegando!</h1>
			<p class='cta-description'>O programa que vai mudar sua vida.</p>
		</div>
		<EmailForm client:load />
	</main>
</Layout>

<style>
	main {
		background-color: black;
		background: url('../images/hero-background.png') center;
		height: 100dvh;
		display: grid;
		gap: 90px;
		place-content: center;
		margin-inline: auto;
		padding-inline: 1.5rem;
	}
	.main-content {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		width: 200px;
		overflow: hidden;
		filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
		transform: translatey(0px);
		animation: float 2s ease-in-out infinite;
	}
	.cta-title {
		font-family: 'Passion One', sans-serif;
		font-size: 3rem;
		font-size: clamp(3rem, 2.142857142857143rem + 4.285714285714286vw, 6rem);
		margin-block-start: 50px;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
			6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
			12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
			22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
			41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
	}
	.cta-description {
		font-size: 1.25rem;
		text-align: center;
		max-width: 80ch;
		opacity: 0.8;
	}

	@keyframes float {
		0% {
			filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
			transform: translatey(0px);
		}
		50% {
			filter: drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
			transform: translatey(-20px);
		}
		100% {
			filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
			transform: translatey(0px);
		}
	}
</style>
