.container {
	padding-block: 10px;
	padding-inline: 15px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
	width: fit-content;
	max-width: 90%;
	margin-inline: auto;
	font-size: 1rem;
}

.success {
	background-color: hsl(171, 82%, 94%);
	color: hsl(188, 91%, 23%);
	border: 2px solid hsl(184, 90%, 34%);
}

.error {
	background-color: hsl(360, 100%, 95%);
	color: hsl(348, 94%, 20%);
	border: 2px solid hsl(360, 83%, 62%);
}

.heading {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 5px;
}

.container h3 {
	font-size: 1rem;
}

.container p {
	font-size: 0.9rem;
}
