.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.form label {
	opacity: 0.8;
}

.formControl {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	margin-inline: auto;
	height: 50px;
}

.email {
	border-radius: 500px;
	padding: 0.5rem;
	border: 1px solid white;
	color: black;
	font-size: 0.9rem;
	width: 350px;
	padding-inline: 20px;
	background: white;
}

.ctaBtn {
	position: absolute;
	right: 6px;
	top: 6px;
	background: var(--accent);
	color: #fff;
	border: none;
	border-radius: 500px;
	padding: 11.25px 15px;
	transition: scale 250ms;
	font-weight: 400;
}
