.logo {
	width: 200px;
	filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
	transform: translatey(30px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
		transform: translatey(30px);
	}
	50% {
		filter: drop-shadow(0 25px 15px rgba(0, 0, 0, 0.2));
		transform: translatey(10px);
	}
	100% {
		filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.6));
		transform: translatey(30px);
	}
}

@media screen and (max-width: 520px) {
	.logo {
		width: 120px;
	}
}
