---
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/700.css';
import '@fontsource/passion-one/900.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='pt-br'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Programa Bota Fé' />
		<meta name='viewport' content='width=device-width' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<!-- Primary Meta Tags -->
		<title>Bota Fé - O programa que vai mudar sua vida</title>
		<meta name='title' content='Bota Fé - O programa que vai mudar sua vida' />
		<meta
			name='description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>

		<!-- Open Graph / Facebook -->
		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://botafe.netlify.app/' />
		<meta property='og:title' content='Bota Fé - O programa que vai mudar sua vida' />
		<meta
			property='og:description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>
		<meta property='og:image' content='https://i.imgur.com/KgPngh8.png' />

		<!-- Twitter -->
		<meta property='twitter:card' content='summary_large_image' />
		<meta property='twitter:url' content='https://botafe.netlify.app/' />
		<meta
			property='twitter:title'
			content='Bota Fé - O programa que vai mudar sua vida'
		/>
		<meta
			property='twitter:description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>
		<meta property='twitter:image' content='https://i.imgur.com/KgPngh8.png' />

		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
