---
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/700.css';
import '@fontsource/passion-one/900.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='pt-br'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Programa Bota Fé' />
		<meta name='viewport' content='width=device-width' />
		<link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
		<link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
		<link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
		<link rel='manifest' href='/site.webmanifest' />
		<!-- Primary Meta Tags -->
		<title>Bota Fé - O programa que vai mudar sua vida</title>
		<meta name='title' content='Bota Fé - O programa que vai mudar sua vida' />
		<meta
			name='description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>

		<!-- Open Graph / Facebook -->
		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://botafe.netlify.app/' />
		<meta property='og:title' content='Bota Fé - O programa que vai mudar sua vida' />
		<meta
			property='og:description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>
		<meta property='og:image' content='https://i.imgur.com/KgPngh8.png' />

		<!-- Twitter -->
		<meta property='twitter:card' content='summary_large_image' />
		<meta property='twitter:url' content='https://botafe.netlify.app/' />
		<meta
			property='twitter:title'
			content='Bota Fé - O programa que vai mudar sua vida'
		/>
		<meta
			property='twitter:description'
			content='Inscreva-se para ser notificado assim que o programa estrear!
'
		/>
		<meta property='twitter:image' content='https://i.imgur.com/KgPngh8.png' />

		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	:root {
		--primary-1000: hsl(320, 100%, 19%);
		--primary-900: hsl(322, 93%, 27%);
		--primary-800: hsl(324, 93%, 33%);
		--primary-700: hsl(326, 90%, 39%);
		--primary-600: hsl(328, 85%, 46%);
		--primary-500: hsl(330, 79%, 56%);
		--primary-400: hsl(334, 86%, 67%);
		--primary-300: hsl(336, 100%, 77%);
		--primary-200: hsl(338, 100%, 86%);
		--primary-100: hsl(341, 100%, 95%);

		--neutral-1000: hsl(210, 24%, 16%);
		--neutral-900: hsl(209, 20%, 25%);
		--neutral-800: hsl(209, 18%, 30%);
		--neutral-700: hsl(209, 14%, 37%);
		--neutral-600: hsl(211, 12%, 43%);
		--neutral-500: hsl(211, 10%, 53%);
		--neutral-400: hsl(211, 13%, 65%);
		--neutral-300: hsl(210, 16%, 82%);
		--neutral-200: hsl(214, 15%, 91%);
		--neutral-100: hsl(216, 33%, 97%);
	}

	html {
		font-family: 'Roboto', sans-serif;
		background-color: #000;
		color: #fff;
	}

	button {
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
	}

	img {
		display: block;
		max-width: 100%;
	}
</style>
